.nav-link
{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #808080;
    }
.navbar{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 3px 25px 5px rgba(211, 211, 211, 0.6);
}
.navbar-nav{
    padding-left: 50%;
}
.nav-item{
    padding: 10px;
}
.navbar-brand{
    padding-left: 10px;
}
#hd1{
    padding-top: 120px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
}
#hd2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
}
#hd3{
    margin:0px auto;
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #7C7C7C;
}
#hd4{
    margin:0px auto;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #7C7C7C;
    margin-top:50px;
}
#hd5{
    width: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
}
#p1{
    position: absolute;
    width: 700px;
    height: 220px;
    left: 146px;
    top: 228px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #7C7C7C;
}
#p2{
    position: absolute;
    width: 700px;
    height: 308px;
    left: 550px;
    top: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #7C7C7C;
}
#p3{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #848484;
}
#p4{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #848484;
}
#p5{
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #848484;
}
#c1{
    padding-left: 50%;
}
#c2{
    margin:0px auto;
    align-items: center;
    text-align: center;
}
#r{
    color: #DB3236;;
}
#b{
    color: #4885ED;
}
#g{
    color: green;
}
#y{
    color: yellow;
}
#ci1{

}
#ci2{

}
#ci3{

}
#r1{

    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 5px rgba(60, 186, 84, 0.3);
    border-radius: 10px;
}
#r2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius:50%;
    border: 5px;
    border-style: solid;
    border-left-color:#F4C20D; 
    border-top-color: #F4C20D;   
    border-right-color:#3CBA54;
    border-bottom-color:#3CBA54 ;
}
#r3{
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 5px rgba(244, 194, 13, 0.3);
    border-radius: 10px;
}
#r4{
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 5px rgba(244, 194, 13, 0.3);
    border-radius: 10px;
}
#r5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius:50%;
    border: 5px;
    border-style: solid;
    border-left-color:#DB3236; 
    border-top-color: #DB3236;   
    border-right-color:#F4C20D;
    border-bottom-color:#F4C20D;
}
#r6{
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px 5px rgba(72, 133, 237, 0.3);
    border-radius: 10px;
}
#r7{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7C7C7C;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius:50%;
    border: 5px;
    border-style: solid;
    border-left-color:#F4C20D; 
    border-top-color: #F4C20D;   
    border-right-color:#4885ED;
    border-bottom-color:#4885ED;
}
#crd1{
    
    width: 100%;
    max-width:400px;
    height: 412px;
    text-align: center;
    margin-right:10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 12px rgba(211, 211, 211, 0.6);
    border-radius: 15px;
}
#crd2{
    
    width:100%;
    max-width:400px;
    height: 412px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 15px 12px rgba(211, 211, 211, 0.6);
    border-radius: 15px;
}
#bc{
   
}
#ml{

}
#osc{
    
}
#endlogo{
  margin:0px auto;
  text-align: center;
  margin-top:30px;
}

section {
    width: 100%;
    min-height: 70vh;
    padding: 40px 60px;
  }

  #sec1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 40px 60px;
    width: 100%;
  }

  #sec1 .first {
    width: 70%;
  }

  #c1 {
    padding: 0px;
    width: 30%;
    align-items: center;
    text-align: center;
    margin-top: 80px;
  }

  #sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  @media screen and (max-width:991px) {
    section {
      padding: 30px 10px;
    }

    #sec2 {
      flex-direction: column;
    }

    #sec2 .container {
      align-items: center;
      text-align: center;
      padding: 0px;
    }

    #sec2 .container img {
      width: 100% !important;
    }

    #sec1 {
      flex-direction: column-reverse;
      padding: 20px 0px;
    }

    #sec1 .first {
      width: 100%;
      align-items: center;
      text-align: center;
    }

    #sec1 .first a {
      font-size: 22px;
    }

    #sec1 #c1 {
      width: 100%;

    }

    #sec1 .first .container {
      padding: 0px !important;
      text-align: justify;
      width: 100%;
    }
  }


  #sec3 {
    height: 100vh;
    width: 100%;
    padding: 40px 60px;
    align-items: center;
    transform:translateY(-100vh);

  }

  /* #sec3 {
      background:url('/images/chart.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    } */

  #sec3 .first {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 30px;

  }

  #sec3 .container {
    min-height: 100px;

  }

  #sec3 .second {
    display: flex;
    width: 60%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .circles {
    display: block;
    height: 200px;
    align-items: center;
    justify-content: center;

  }

  #sub1 {
    height: 100vh;
    width: 80%;
    margin: 0px auto;
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }


  .navbar img {
    width:343px;
     height:60px;
  }


  .special {
    height:100vh;
  }

  .special{
    text-align: center;
    width: 100%;
    align-items: center;
  }
.special .motto{
  /* display: none; */
  width: 100%;
  align-items: center;
  text-align: center;
}

.special img{
  height: 95vh;
  width:80%;
  transform: translateY(-40px);
}
  @media screen and (max-width:991px) {

    #sec3{
      background:none;
    }

    .special .motto{
      display: block;
    }
    .special img{
      width:100%;
      height:50vh;
      transform: translateY(-40px);
    }

    .special{
      min-height:250vh;
    }
    section{
      padding:20px !important;
    }
    #sec1 img,#sec2 img {
      width:100%;
    }
    .navbar img {
      width:150px;
       height:40px;
    }
    #sec3{
      transform: translateY(0px);
    }

    #sec3 .first,
    #sec3 .second {
      width: 100%;
      padding: 0px 30px;
      flex-direction: column;
    }

    
    #sec3 .second .tabs {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    #sec3 .second .tabs div {
      margin-bottom:20px;
    }

    #p3 {
      text-align: justify !important;
      margin-top: 30px;

    } 

    #sub1 {
      margin:0px;
      width:100%;
    }

    #sub1 .circles{
      width:100%;
    }
    .techs{
      text-align: center;
      align-items: center;
    }

    .techs img{
      align-items: center;
      text-align: center;
      margin: 0px auto;
    }
    .techs .w3-left{
      text-align: center !important;
      display: flex;
      flex-direction: column;
      margin:10px 0px;
    }

    .techs .w3-right{
      text-align: center !important;
      display: flex;
      flex-direction: column-reverse;
      margin:10px 0px;
    }
    .techs .cor{
      text-align: center;
      display: flex;
      flex-direction: column;
      margin:10px 0px;
    }
    .techs .w3-center{
      text-align: center;
      display: flex;
      flex-direction: column;
      margin:10px 0px;
    }
  }

  @media screen and (max-width:1100px){

    .special .motto img{
      height:98vh;
      transform: translateY(-5px);
    }
  }